#
# Sample Config
#

aws_account              = "AWS_ACCOUNT|ALIAS"
aws_region               = "REQUIRED"
aws_profile              = "AWS_PROFILE"
compute_asg_grace_period = "10"
compute_asg_max          = "5"
compute_asg_min          = "1"
compute_flavor           = "t2.small"
coreos_image             = "ami-f4199987"
dns_zone_name            = "dsp.io"
environment              = "dev"
etcd_flavor              = "t2.small"
kms_master_id            = "REQUIRED"
kubeapi_access_list      = "IP,IP,IP"
platform                 = "kube"
secrets_bucket_name      = "dev-dsp-io-secrets-eu-west-1"
secure_asg_max           = "4"
secure_asg_min           = "3"
ssh_access_list          = "IP,IP"
terraform_bucket_name    = "dev-dsp-terraform-eu-west-1"
