#
# Sample Config
#

aws_account              = "AWS_ACCOUNT|ALIAS"
aws_profile              = "AWS_PROFILE"
aws_region               = "AWS_REGION"
compute_asg_grace_period = "10"
compute_asg_max          = "5"
compute_asg_min          = "1"
compute_flavor           = "t2.small"
coreos_image             = "ami-e63e5295"
dns_zone_name            = "dsp.io"
environment              = "dev"
etcd_flavor              = "t2.small"
kms_master_id            = "REQUIRED"
kubeapi_access_list      = "IP,IP,IP"
kubernetes_image         = "quay.io/coreos/hyperkube"
kubernetes_version       = "v1.3.4_coreos.0"
platform                 = "kube"
secrets_bucket_name      = "S3_BUCKET_NAME"
secure_asg_max           = "4"
secure_asg_min           = "3"
ssh_access_list          = "IP,IP"
# This must be created before running
terraform_bucket_name    = "S3_BUCKET_NAME"
