[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
RuntimeDirectory=kube-scheduler
RuntimeDirectoryMode=0700
EnvironmentFile=/etc/s3secrets
ExecStartPre=/opt/bin/s3secrets s3 get -d=%t/kube-scheduler secure/kubeconfig_scheduler
ExecStart=/opt/bin/hyperkube scheduler \
  --master=https://127.0.0.1:6443 \
  --kubeconfig=%t/kube-scheduler/kubeconfig_scheduler
Restart=always
RestartSec=10

[X-Fleet]
MachineMetadata=role=master
