[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
Restart=always
RestartSec=10
RuntimeDirectory=kube-controller
RuntimeDirectoryMode=0700
EnvironmentFile=/etc/s3secrets
ExecStartPre=/opt/bin/s3secrets s3 get -d=%t/kube-controller secure/kubeconfig_controller
ExecStart=/opt/bin/hyperkube controller-manager \
  --cloud-provider=aws \
  --master=https://127.0.0.1:6443 \
  --kubeconfig=%t/kube-controller/kubeconfig_controller \
  --logtostderr=true

[X-Fleet]
MachineMetadata=role=master
