[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10
RuntimeDirectory=kube-kubelet
RuntimeDirectoryMode=0700
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/bin"
EnvironmentFile=/etc/s3secrets
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/secure_elb
EnvironmentFile=/etc/aws-environment

ExecStartPre=/opt/bin/s3secrets s3 get -d=%t/kube-kubelet compute/kubeconfig_kubelet
ExecStart=/opt/bin/hyperkube kubelet \
  --cloud-provider=aws \
  --address=0.0.0.0 \
  --api-servers=${KUBEAPI_MASTER} \
  --kubeconfig=%t/kube-kubelet/kubeconfig_kubelet \
  --cluster-dns=10.200.0.10 \
  --cluster-domain=cluster.local \
  --image-gc-high-threshold=60 \
  --image-gc-low-threshold=40 \
  --maximum-dead-containers=10 \
  --maximum-dead-containers-per-container=1 \
  --image-gc-high-threshold=60 \
  --image-gc-low-threshold=40 \
  --cpu-cfs-quota=true \
  --logtostderr=true

[X-Fleet]
Global=true
MachineMetadata=role=compute
