[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
Restart=always
RestartSec=10
RuntimeDirectory=kube-apiserver
RuntimeDirectoryMode=0700
EnvironmentFile=/etc/s3secrets
ExecStartPre=/opt/bin/s3secrets s3 get -d=%t/kube-apiserver \
  secure/kubeapi.pem secure/kubeapi-key.pem secure/auth-policy.json secure/tokens.csv

ExecStart=/opt/bin/hyperkube apiserver \
  --admission-control=NamespaceLifecycle,NamespaceExists,LimitRanger,ServiceAccount,SecurityContextDeny,ResourceQuota \
  --cloud-provider=aws \
  --insecure-port=8080 \
  --secure-port=6443 \
  --token-auth-file=%t/kube-apiserver/tokens.csv \
  --authorization-mode=ABAC \
  --authorization-policy-file=%t/kube-apiserver/auth-policy.json \
  --service-cluster-ip-range=10.200.0.0/16 \
  --etcd-servers=https://127.0.0.1:2379 \
  --tls-cert-file=%t/kube-apiserver/kubeapi.pem \
  --tls-private-key-file=%t/kube-apiserver/kubeapi-key.pem \
  --logtostderr=true \
  --v=0

[X-Fleet]
Global=true
MachineMetadata=role=master
