[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
Restart=always
RestartSec=10
LimitNOFILE=10240
RuntimeDirectory=kube-proxy
RuntimeDirectoryMode=0700
EnvironmentFile=/etc/s3secrets
EnvironmentFile=/etc/aws-environment
EnvironmentFile=/etc/secure_elb

ExecStartPre=/opt/bin/s3secrets s3 get -d=%t/kube-proxy compute/kubeconfig_proxy
ExecStart=/opt/bin/hyperkube proxy \
  --master=${KUBEAPI_MASTER} \
  --kubeconfig=%t/kube-proxy/kubeconfig_proxy \
  --proxy-mode=iptables \
  --logtostderr=true

[X-Fleet]
Global=true
MachineMetadata=role=compute
